[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-slugify = "*"
django = "*"
django-extensions = "*"
django-registration-redux = "*"
django-simple-pagination = "*"
django-el-pagination = "*"
"psycopg2" = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.7"
