{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>
        {% block title %}
            Apile
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <header>
        <h1>Apile</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'auth_logout' %}">Logout</a>
                </li>
                <li>
                    <a href="{% url 'post_new' %}">New Post</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'auth_login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'registration_register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>
</html>