{% extends 'base.html' %}
<!doctype html>
<html>
<head>
</head>
    <title>Apile</title>
<body>
    {% block content %}
        {% load el_pagination_tags %}
        {% paginate posts %}
        {% for post in posts %}
            <h2>
            <a href="{% url 'post_detail' slug=post.slug %}" style="text-decoration:none">
                {{ post.title }} 
            </a>

            {% if request.user.is_authenticated %}
                <form method="POST" action="{% url 'switch_vote' post_id=post.pk%}">
                    {% csrf_token %}
                    <button type="submit">
                        {% if post in voted_posts %}
                        &#x1f44e; <!-- thumbs down -->
                        {% else %}
                        &#x1f44d; <!-- thumbs up -->
                        {% endif %}
                    </button>
                </form>
            {% endif %}

            </h2>
            <p>Posted By {{ post.author }}</p>
                <div>
                    {{ post.votes.count }} Like{{ post.votes.count|pluralize }}
                </div>
            <p>{{ post.date_added }}</p>
        {% endfor %}
        {% show_pages %}
    {% endblock content %}
</body>
</html>