{% extends 'base.html' %}
<!doctype html>
<html>
<head>
</head>
    <title>Apile</title>
<body>
    {% block content %}
        {% for post in posts %}
            <h2>
            <a href="{% url 'post_detail' slug=post.slug %}" style="text-decoration:none">
                {{ post.title }} 
            </a>
            {% if request.user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ post.pk }}">
                <button type="submit">
                {% if post in voted_posts %}
                Un-Like <!-- change to a thumbs down -->
                {% else %}
                Like <!-- change to a thumbs up -->
                {% endif %}
                </button>
            </form>
            {% endif %}
            </h2>
            <p>Posted By {{ post.author }}</p>
                <div>
                    {{ post.votes.count }} Like{{ post.votes.count|pluralize }}
                </div>
            <p>{{ post.date_added }}</p>
        {% endfor %}
    {% endblock content %}
</body>
</html>