{% extends 'base.html' %}
<!doctype html>
<html>
<head>
</head>
    <title>Apile</title>
<body>
    {% block content %}
    <section class="section">
        {% load el_pagination_tags %}
        {% paginate posts %}
        {% for post in posts %}
        <article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
            <h2 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3">
            <a href="{% url 'post_detail' slug=post.slug %}" style="text-decoration:none">
                {{ post.title }} 
            </a></h2>

            {% if request.user.is_authenticated %}
                <form method="POST" action="{% url 'switch_vote' post_id=post.pk%}">
                    {% csrf_token %}
                    <button type="submit">
                        {% if post in voted_posts %}
                        &#x1f44e; <!-- thumbs down -->
                        {% else %}
                        &#x1f44d; <!-- thumbs up -->
                        {% endif %}
                    </button>
                </form>
            {% endif %}

            </h2>
            <p class="f6 f5-ns lh-copy measure">Posted By {{ post.author }}</p>
                <div>
                    {{ post.votes.count }} Like{{ post.votes.count|pluralize }}
                </div>
            <p class="f6 f5-ns lh-copy measure">{{ post.date_added }}</p>
        </article>
        {% endfor %}
        {% show_pages %}
        </section>
    {% endblock content %}
</body>
</html>